<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vythiri Admin Reservation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      * {
        margin:0;
        padding:0;
      }
      body {
        width:100vw;
        height: auto;
        overflow-x:hidden;
      }
      .table {
        padding:5%;
      }
      table {
        width:100%;
        text-align:center;
        border: 2px solid black;
        border-collapse: collapse;
      }
      td, tr  {
        border: 2px solid grey;
        border-collapse: collapse;
        padding:1%;
      }
      th {
        border: 2px solid black;
        border-collapse: collapse;
        padding:5px;
      }
      .action-btn {
        margin:0%;
      }
      .heading {
        text-align:center;
        width:100%;
        margin-top:5%;
      }
    </style>
</head>
  <body>
    <nav class="navbar bg-body-tertiary fixed-top" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Vythiri Resorts - Admin</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Reservation Requests</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/admin/admin-reservation-requests.html">New Reservations Requests</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/view-accepted">Accepted Reservations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/admin/view-rejected">Rejected Reservations</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <div class="table">
        <div class="heading">
            <h2 style="text align:center;">RESERVATION REQUESTS</h2>
        </div>
        <table>

            <tr>

                <th>NAME</th>
                <th>ADDRESS</th>
                <th>ZIPCODE</th>
                <th>MOBILE</th>
                <th>E-MAIL</th>
                <th>ROOM</th>
                <th>NO OF ROOMS</th>
                <th>ARRIVAL</th>
                <th>DEPARTURE</th>
                <th>ADULTS</th>
                <th>CHILDREN</th>
                <th>ACTION</th>

            </tr>
            <tr>

                <td>{{ data[0][0]+" "+data[0][1] }}</td>
                <td>{{ data[0][2] }}</td>
                <td>{{ data[0][6] }}</td>
                <td>{{ data[0][7] }}</td>
                <td>{{ data[0][8] }}</td>
                <td>{{ data[0][9] }}</td>
                <td>{{ data[0][10] }}</td>
                <td>{{ data[0][11] }}</td>
                <td>{{ data[0][12] }}</td>
                <td>{{ data[0][13] }}</td>
                <td>{{ data[0][14] }}</td>
                <td>
                    <form method="POST">
                        <div class="action-btn">
                            <input type="submit" value="accept" name="action" style="background-color:green;width:100%">
                        </div>

                        <div class="action-btn">
                            <input type="submit" value="reject" name="action" style="background-color:red;width:100%">
                        </div>
                    </form>
                </td>
            </tr>
        </table>
        <div class="heading">
            <h2 style="text align:center;">PENDING RESERVATION REQUESTS</h2>
        </div>
        <table>
            {% if pending == 0 %}
                <tr>
                    <td colspan="12"><h3>There are no pending reservation requests.</h3></td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="12" style="background-color:rgba(173,216,230,0.6)">There are {{ pending -1 }} pending reservation requests. <a href="#">view all</a> </td>
                </tr>
            {% endif %}
            <tr>

                <th>NAME</th>
                <th>ADDRESS</th>
                <th>ZIPCODE</th>
                <th>MOBILE</th>
                <th>E-MAIL</th>
                <th>ROOM</th>
                <th>NO OF ROOMS</th>
                <th>ARRIVAL</th>
                <th>DEPARTURE</th>
                <th>ADULTS</th>
                <th>CHILDREN</th>

            </tr>
            {% for row in data[1:] %}
                <tr>

                    <td>{{ row[0]+" "+row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                    <td>{{ row[10] }}</td>
                    <td>{{ row[11] }}</td>
                    <td>{{ row[12] }}</td>
                    <td>{{ row[13] }}</td>
                    <td>{{ row[14] }}</td>

                </tr>
            {% endfor %}

        </table>
    </div>

















    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>
