.l1:hover {
    opacity: 0.8;
}
.l2:hover {
    opacity: 0.8;
}
.l3:hover {
    opacity: 0.8;
}
.l4:hover {
    opacity: 0.8;
}
.l5:hover {
    opacity: 0.8;
}
.l6:hover {
    opacity: 0.8;
}
.l7:hover {
    opacity: 0.8;
}
.l8:hover {
    opacity: 0.8;
}
.l9:hover {
    opacity: 0.8;
}
.l10:hover {
    opacity: 0.8;
}
.l11:hover {
    opacity: 0.8;
}
.l12:hover {
    opacity: 0.8;
}
.l13:hover {
    opacity: 0.8;
}
.l14:hover {
    opacity: 0.8;
}
.l15:hover {
    opacity: 0.8;
}
.l16:hover {
    opacity: 0.8;
}
.l17:hover {
    opacity: 0.8;
}
.l18:hover {
    opacity: 0.8;
}
.l19:hover {
    opacity: 0.8;
}
